<header>
  <div class="ui six item menu">
    <a class="item" id="header-navlink-top" href="#">WebRPGTool</a>
    <a class="item" id="header-navlink-maps" href="#">マップ</a>
    <a class="item" id="header-navlink-scripts" href="#">スクリプト</a>
    <a class="item" id="header-navlink-stories" href="#">ストーリー</a>
    <a class="item" id="header-navlink-stories" href="#">オブジェクト</a>
    <div class="item" id="loginButtonsDiv"><login-buttons></login-buttons></div>
  </div>
</header>

<router-outlet></router-outlet>
